<template>
    <section class="h-screen bg-primary-500">
        <div class="w-full h-full lg:flex pt-16 lg:px-32">
            <div class="w-full h-1/6 px-8 py-4 mt-12">
                <h1 class="font-extrabold text-2xl text-center lg:text-7xl md:text-3xl mx-auto">
                    Hi There, I'm Alif
                </h1>
            </div>
            <div class="w-full h-2/6 flex p-8 justify-center">
                <div class="avatar w-3/4">
                    <div class="w-full mask mask-hexagon bg-gradient-to-tr from-base-300 to-base-100">
                        <NuxtImg class="bg-top" src="/images/me.png" />
                    </div>
                </div>
            </div>
            <div class="w-full h-2/6 px-12 pt-32">
                <p class="text-xl">Know more about me:</p>
                <a href="#" class="mr-4 p-1 rounded-lg hover:bg-teal-200">
                    <Icon name="ion:logo-linkedin" class="mr-2" />
                    <span>Linkedin</span>
                </a>
                <a href="#" class="mr-4 p-1 rounded-lg hover:bg-teal-200">
                    <Icon name="ion:logo-gitlab" class="mr-2" />
                    <span>Gitlab</span>
                </a>
                <a href="#" class="mr-4 p-1 rounded-lg hover:bg-teal-200">
                    <Icon name="ion:logo-instagram" class="mr-2" />
                    <span>Instagram</span>
                </a>
            </div>
        </div>
    </section>
</template>

<script lang="ts" setup>
definePageMeta({
    // layout: 'dashboard'
})
</script>